# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for data science
- Commonly used libraries for data science
- Popular data science tools (IDEs)
- Simple arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Scala
1. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Plotly
5. Tensorflow

| Data Science Tools |
|:------------------:|
| JupyterLab/Notebook |
| RStudio |
| VS Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to multiply then add integers
a = (3*4)+5
print(a)

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60
print( m, "minutes are", h, "hours")

200 minutes are 3.3333333333333335 hours

## Author